[Unit]
Description=Linux Operations Lab Web Server
After=network.target

[Service]
Type=simple
User=gabby
WorkingDirectory=/home/gabby/projects/linux-operations-lab/service
ExecStart=/usr/bin/python3 -m http.server 8000
Restart=on-failure

[Install]
WantedBy=multi-user.target
